    <!-- categories section -->
    <div class=" m-5" >
        <div class="text-center" style="padding: 0;">
            <h2 class="text-danger">Categories</h2>
        </div>
        <div class="row " style="padding: 0;">
            <div class="col-md-6 " style="padding: 0px;">
                <div class="row">
                    <div class="col-8  float-right" style="padding: 0;">
                        <a href="women.html"><img class="w-100" src="/assets/images/front-women-clothing.jpg" alt=""></a>
                    </div>
                    <div class="col-4 float-left" style="padding: 0;">
                        <a href=""><img class="w-100" src="/assets/images/front-women-shoes.jpg" alt=""></a>
                        <a href="bags-category.html"><img class="w-100" src="/assets/images/front-women-bags.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " style="padding: 0px;">
                <div class="row">
                    <div class="col-8  float-right" style="padding: 0;">
                        <a href=""><img class="w-100" src="/assets/images/front-men-clothing.jpg" alt=""></a>
                    </div>
                    <div class="col-4 float-left" style="padding: 0;">
                        <a href=""><img class="w-100" src="/assets/images/front-men-shoes.jpg" alt=""></a>
                        <a href=""><img class="w-100" src="/assets/images/front-men-accessories.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row " style="padding: 0;">
            <div class="col-md-6" style="padding: 0px;">
                <div class="row con">
                    <div class="col-8  float-right" style="padding: 0;">
                        <a href="phones&tablets.html"><img class="w-100" src="/assets/images/front-phones.jpg" alt=""></a>                        
                    </div>
                    <div class="col-4 float-left" style="padding: 0;">
                        <a href="phones&tablets.html"><img class="w-100" src="/assets/images/front-phone-cases.jpg" alt=""></a>
                        <a href=""><img class="w-100" src="/assets/images/front-laptops.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " style="padding: 0px;">
                <div class="row">
                    <div class="col-8  float-right" style="padding: 0;">
                        <a href="health&beauty.html"><img class="w-100" src="/assets/images/front-health-skincare.jpg" alt=""></a>
                    </div>
                    <div class="col-4 float-left" style="padding: 0;">
                        <a href=""><img class="w-100" src="/assets/images/front-health-fragrance.jpg" alt=""></a>
                        <a href="health&beauty.html"><img class="w-100" src="/assets/images/front-health-makeup.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    