<app-carousel></app-carousel>
<br>
<app-flash-sales></app-flash-sales>
<hr>

<app-category-component></app-category-component>
<app-featured-products></app-featured-products>
<div class="container-fluid">
    <img class="img-responsive w-50" src="/assets/images/banner-w.jpg" alt="">
    <img class="img-responsive w-50" src="/assets/images/banner-mach.jpg" alt="">
</div>


<app-trending-now-comp></app-trending-now-comp>
<div class="container-fluid">
    <img class="img-responsive w-50" src="/assets/images/help.jpeg" alt="">
    <img class="img-responsive w-50" src="/assets/images/logistics_MFL.jpg" alt="">
    <hr>
</div>
<div class="container-fluid">
    <img routerLink="/drinks" class="w-100" src="/assets/images/banner6.jpg" alt="" style="cursor: pointer;">
</div>
<br>