<div class="p-3">
    <div class="alert alert-success alert-dismissible d-none" id="alert">
        <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>
        <strong>Payment Approved</strong> You will now be redirected back to ÕJÀ in <strong
            id="countDwn"></strong><a href="#" class="alert-link"> or click here to go to your order page</a>
    </div>
    <div class="card mx-auto shadow-lg m-5 payCard">
        <div class="card-header bg-dark p-2">
            <div class="float-left">
                <a class="mytxt font-weight-bolder h4 logotxt" href="index.html">ÕJÀ</a>
            </div>
            <div class="float-right w-50 text-white text-right" id="buyerNameNPrice">
                <p id="payerId">User </p> <span class="text-success" >₦{{amountToPay}}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="mx-auto text-center mb-3">
                <span class="font-weight-bold">Enter your card details here</span>
            </div>
            <div class="container mx-auto pb-3">
                <input type="text" class="form-control" placeholder="0000 0000 0000 0000" id="snInp">
                <input type="text" class="form-control w-25 mt-3 d-inline" placeholder="MM/YY" id="yearInp">
                <input type="text" class="form-control w-25 mt-3 d-inline" placeholder="CVV" id="cvvInp">
                <button class="btn btn-success d-block mt-3 form-control text-white font-weight-bold" id="payBtn">Pay <span
                        >₦{{amountToPay}}</span></button>
            </div>
        </div>
        <div class="card-footer bg-dark">
            <img src="/assets/images/visamastercard.jpg" class="w-100" alt="" style="height: 50px !important;">
        </div>

    </div>
    
</div>